<div class="buttons">
    {% if page.facebook %}
    <a href="{{ page.facebook }}" class="button is-dark" target="_blank">
        Facebook
    </a>
    {% endif %}

    {% if page.twitter %}
    <a href="{{ page.twitter }}" class="button is-dark" target="_blank">
        Twitter
    </a>
    {% endif %}

    {% if page.github %}
    <a href="{{ page.github }}" class="button is-dark" target="_blank">
        Github
    </a>
    {% endif %}

    {% if page.gitlab %}
    <a href="{{ page.gitlab }}" class="button is-dark" target="_blank">
        Gitlab
    </a>
    {% endif %}

    {% if page.instagram %}
    <a href="{{ page.instagram }}" class="button is-dark" target="_blank">
        Instragram
    </a>
    {% endif %}

    {% if page.linkedin %}
    <a href="{{ page.linkedin }}" class="button is-dark" target="_blank">
        Linkedin
    </a>
    {% endif %}

    {% if page.medium %}
    <a href="{{ page.medium }}" class="button is-dark" target="_blank">
        Medium
    </a>
    {% endif %}

    {% if page.stack_overflow %}
    <a href="{{ page.stack_overflow }}" class="button is-dark" target="_blank">
        Stack Overflow
    </a>
    {% endif %}

</div>